<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = page.cover || config.index_cover || theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                  <h1><%- page.title %></h1>
                  <div class="home-avatar">
                    <img class="avatar" src="<%- gravatar(config.avatar || theme.avatar, 120) %>" width=120 height=120>
                  </div>
                  <span class="subheading"><%- page.subtitle %></span>
              </div>
          </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Gallery -->
            <% if (page.photos && page.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>

            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- page.content %>

                <% if(theme.addthis) { %>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis %>"></script>

                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>
                <% } %>
            </div>

            <!-- Comments -->
            <% if (page.comment != false) { %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
    </div>
</article>
